#body {
    background-color: black;
    color: #ffffff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
       }

.section1 {
    background-image:url("https://assets.nflxext.com/ffe/siteui/vlv3/5aecc44d-2a1f-4313-8399-98df20908b64/fe0d3631-4584-47e4-9cd7-ed68ba375830/NG-en-20221114-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    padding: 30px;
    border: 2px solid gray;
    height: 600px;
    }
.logo {
    position: relative;
    left: 25px;
}
.button {
    text-align: center;
    position: relative;
    bottom: 60px;
    background-color: red; 
    color: #ffffff;
    height: 35px;
    width: 80px;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid red;
    border-radius: 4px;
}
.signin {
    text-align: right;
}
span {
    size: 20px;
}
.text1 h1 {
    text-align: center;
    font-size: 60px;
}
.text1 h3 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    bottom: 25px;
}
.text1 p {
    text-align: center;
    font-size: 20px ;
    font-weight: bold;
    position: relative;
    bottom: 25px;
}
.container1 {
    display: flex;
    position: relative;
    left: 350px;
   }

input {
    width: 500px;
    height: 65px;
    position: relative;
    top: 2px;
    bottom: 2px;
}
.gstarted button {
position: relative;
top: 2px;
background-color: red;
width: 250px;
height: 70px;
color: #ffffff;
font-size: 25px;
border: 1px solid red;
}


.section2 {
    background-color: black;
    border: 3px solid grey;
   }
.container2 {
    display: flex;
    justify-content: space-between;
    padding: 40px 70px 20px;
    }
    .text2 {
        position: relative;
        left: 50px;
        top: 50px;
        bottom: 90px;
        font-size: 30px;
        padding-bottom: 100px;
        
    }
    .image1 {
        position: relative;
        left: 150px;
    }
    .container2 video {
        position: relative;
        right: 285px;
        top: 78px;
    }
.section3 {
    background-color: black;
    border: 3px solid grey;
    height: 600px;
 
}

.image_N {
    position: relative;
    left: 300px;
    top: 120px;
}
 .box_shot {
    position: relative;
    left: 410px;
 }
.content {
    position: relative;
    left: 500px;
    bottom: 85px;
    font-weight: bold;
}
.download {
    color: rgb(0, 55, 255);
    padding-top: 2px;
}
.gif {
    position: relative;
    left: 655px;
    bottom: 160px;
}
.box_shot {
    border: 2px solid grey;
    border-radius: 10px;
    max-width: 280px;
    height: 85px;
    background-color: black;
    padding :8px 10px;
}
.text3 {
text-align: right;
padding: 15px;
font-size: 25px;
font-weight: bold;
position: relative;
right: 200px;
bottom: 450px;

}

.section4 {
    background-color: black;
    border: 3px solid grey;
    padding: 60px 500px 80px 200px;
    font-size: 25px;
}

.section5 {
    background-color: black;
    border: 2px solid grey;
}
.container4 {
    display: flex;
    justify-content: space-between;
    padding: 100px 150px 100px 200px;
   font-size: 25px;
   
}
.container4 h1{
    position: relative;
    left: 150px;
    top: 60px;
    font-family:Arial, Helvetica, sans-serif
}
.container4 p {
    position: relative;
    right: 130px;
    top: 190px;
    bottom: 70px;
}
.section6 {
    background-color: black;
    border: 2px solid grey;
}

.section6 h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    top: 5px;
}


.Netflix,.cost,.watch, .cancel, .watch2, .kids {
    border: 1px solid grey;
    width: 800px;
    height: 40px;
    background-color:#474747;
    font-size: 25px;
    padding-top: 30px;
    cursor: pointer;
    }
    


.membership{
    text-align: center;
    font-size: 20px;
    font-weight: light;
    position: relative;
    right: 75px;
}

.container5 {
    display: flex;
    position: relative;
    text-align: center;
    left: 350px;
    padding-bottom: 100px;
}
.gstarted2 button {
background-color: red;
width: 250px;
height: 70px;
color: #ffffff;
font-size: 25px;
border: 1px solid red;
position: relative;
top: 2px;
}

.section7 {
    background-color: black;
    border: 2px solid grey;
    height: 250px;
    padding: 100px 300px 50px;
}

.footer {
    display: flex;
    justify-content: space-between;
}
li {
    list-style: none;
    color: grey;
}

a {
    color: grey;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.anchor {
    position: relative;
    left: 40px;
}







   
